html {
  --common-hover: rgba(0, 0, 0, 0.2);

  --title-height: 40px;
  --title-background: #d3e3fd;

  --browser-tabs-background: #d3e3fd;
  --browser-tabs-background-hover: #a8c7fa;
  --browser-tabs-background-active: #ffffff;

  --browser-tabs-btn-background: #ecf3fe;
  --browser-tabs-btn-background-hover: #a8c7fa;
  --browser-tabs-btn-background-active: #9db9e8;

  --browser-tabs-divider-background: #a8c7fa;

  --window-handle-icon-color: #23292e;
  --window-handle-icon-hover: #becce3;
  --window-handle-icon-close-hover: #ffffff;
  --window-handle-icon-close-background: #e81123;
}