html {
  --title-height: 40px;

  --title-background: #d3e3fd;
  --title-background-hover: #eef0f2;
  --title-background-active: #ffffff;

  --title-tab-divider: #919598;

  --title-tab-icon-color: #23292e;
  --title-tab-icon-hover: rgba(0, 0, 0, 0.1);
  --title-tab-add-icon-hover: rgba(0, 0, 0, 0.15);
  --title-tab-active-icon-color: #23292e;

  --title-icon-color: #23292e;
  --title-icon-hover: #becce3;
  --title-icon-close-hover: #ffffff;
}